<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <title>Macademia</title>
</head>
<body>
    <main>
        <div class="home_background"></div>
        <div class="home_background_blur_mask"></div>
        
        <nav class="home_titlebar">
            <div class="home_titlebar_label">
                <img src="../images/macademia_icon_outline.svg" class="home_titlebar_label_icon">
            </div>
            <div class="home_titlebar_buttons"></div>
            <div class="home_titlebar_drag_area">‎ </div>
            <div class="home_titlebar_window_controls">
                <div class="home_titlebar_window_controls_control"></div>
                <div class="home_titlebar_window_controls_control"></div>
                <div class="home_titlebar_window_controls_control home_titlebar_window_controls_control_close"></div>
            </div>
        </nav>
        <div class="home_body">
            <div class="home_body_side_bar"></div>
            <div class="home_body_main_area">
                <div class="home_body_main_area_view">

                </div>
            </div>
        </div>
    </main>
    <script src="../../js/com/bittscafe/macademia/HomeScreen.js"></script>
</body>
</html>