<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/styles.css">
    <title>Macademia</title>
</head>
<body>
    <main>
        <div class="home_background"></div>
        <div class="home_background_blur_mask"></div>
        
        <nav class="home_titlebar">
            <div class="home_titlebar_label">
                <img src="../images/mac_mono.svg" class="home_titlebar_label_icon">
            </div>
            <div class="home_titlebar_buttons"></div>
            <div class="home_titlebar_drag_area">‎ </div>
            <div class="home_titlebar_window_controls">
                <div class="home_titlebar_window_controls_control" id="utilWindowControlMinimize" title="Minimize"></div>
                <div class="home_titlebar_window_controls_control" id="utilWindowControlMaxmimize" title="Toggle full window"></div>
                <div class="home_titlebar_window_controls_control home_titlebar_window_controls_control_close" id="utilWindowControlClose" title="Close Macademia"></div>
            </div>
        </nav>
        <div class="home_body">
            <div class="home_body_side_bar">
                <div class="home_body_side_bar_tabs">
                    <div class="home_body_side_bar_tabs_tab" id="toggle_calc" title="Calculator">
                        <img src="../images/ic_calc.png" class="home_body_side_bar_tabs_tab_icon">
                    </div>
                    <div class="home_body_side_bar_tabs_tab">
                        <img src="../images/ic_timer.png" class="home_body_side_bar_tabs_tab_icon">
                    </div>
                </div>
                <div class="home_body_side_bar_buttons">
                    <button class="home_body_side_bar_buttons_new_file_button">New Note</button>
                </div>
            </div>
            <div class="home_body_main_area">
                <div class="home_body_main_area_view">
                    <textarea name="note" id="note" class="home_body_main_area_view_note" spellcheck="false"></textarea>
                </div>
            </div>
            <div class="home_body_calculator" id="calculator">
                <div class="home_body_calculator_result">
                    <input type="text" disabled class="home_body_calculator_result_input calc_input" id="calulator_input">
                    <input type="text" disabled class="home_body_calculator_result_display calc_input" id="calulator_result">
                </div>
                <div class="home_body_calculator_inputs">
                    <div class="home_body_calculator_inputs_tools">
                        <!--
                        <div class="home_body_calculator_inputs_tools_tool">
                            <img src="../images/ic_history.png" class="home_body_calculator_inputs_tools_tool_icon">
                        </div>
                        -->
                        <div class="home_body_calculator_inputs_tools_tool" id="backspace">
                            <img src="../images/ic_backspace.png" class="home_body_calculator_inputs_tools_tool_icon">
                        </div>
                    </div>
                    <div class="home_body_calculator_inputs_numbers">
                        <div class="home_body_calculator_inputs_numbers_row">
                            <button class="home_body_calculator_inputs_numbers_row_button home_body_calculator_inputs_numbers_row_button_clear" id="clear_all">C</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="bracket">( )</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="percent">%</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="divide">÷</button>
                        </div>
                        <div class="home_body_calculator_inputs_numbers_row">
                            <button class="home_body_calculator_inputs_numbers_row_button" id="seven">7</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="eight">8</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="nine">9</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="multiply">×</button>
                        </div>
                        <div class="home_body_calculator_inputs_numbers_row">
                            <button class="home_body_calculator_inputs_numbers_row_button" id="four">4</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="five">5</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="six">6</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="minus">-</button>
                        </div>
                        <div class="home_body_calculator_inputs_numbers_row">
                            <button class="home_body_calculator_inputs_numbers_row_button" id="one">1</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="two">2</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="three">3</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="plus">+</button>
                        </div>
                        <div class="home_body_calculator_inputs_numbers_row">
                            <button class="home_body_calculator_inputs_numbers_row_button" id="nagate">+/-</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="zero">0</button>
                            <button class="home_body_calculator_inputs_numbers_row_button" id="dot">.</button>
                            <button class="home_body_calculator_inputs_numbers_row_button home_body_calculator_inputs_numbers_row_button_equals" id="equals">=</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="home_body_new_file">
                <div>
                    
                </div>
                <div></div>
            </div> -->
        </div>
    </main>
    <script src="../../js/com/bittscafe/macademia/HomeScreen.js"></script>
    <script src="../../js/com/bittscafe/macademia/utils/WindowControls.js"></script>
    <script src="../../js/com/bittscafe/macademia/utils/ThemeControler.js"></script>
</body>
</html>